<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.studydemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".recyclerviewchecked.activity.RecycleVeiwCheckedParentsAct" />
        <activity android:name=".recyclerviewchecked.activity.SingleChoiceHeadFootActivity" />
        <activity android:name=".recyclerviewchecked.activity.MultipleChoiceActivity" />
        <activity android:name=".recyclerviewchecked.activity.BgSingleChoiceActivity" />
        <activity android:name=".recyclerviewchecked.activity.BgMultipleChoiceActivity" />
        <activity android:name=".recyclerviewchecked.activity.MultipleChoiceHeadFootActivity" />
        <activity android:name=".recyclerviewchecked.activity.SingleChoiceActivity" />
        <activity android:name=".customwidget.customdialog.CustomDialogAct" />
        <activity android:name=".layoutdemo.ConstraintLayoutAct" />
        <activity android:name=".recycleviewdemo.RecycleViewDeleteAct" />
        <activity android:name=".bottomnavigations.HelloWorld" />
        <activity android:name=".bottomnavigations.RadiobuttonAndFragmentAct" />
        <activity android:name=".bottomnavigations.ViewPageAndRadioGroupAct" />
        <activity android:name=".bottomnavigations.BottomNavigationViewAct" />
        <activity android:name=".bottomnavigations.BottomNavigationBarActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- 静态广播注册 -->
        <receiver
            android:name=".broadcastreceiver.MyStaticBroadcastReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <!-- 自定义Action -->
                <action android:name="weidong" />
            </intent-filter>
        </receiver>
    </application>

</manifest>